<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/mvc
 		http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<mvc:resources mapping="/images/**" location="/resources/images/" />
	<mvc:annotation-driven/>
	
	<!-- telling container to take care of annotations stuff -->
	<context:annotation-config />

	<!-- declaring base package -->
	<context:component-scan base-package="com.bluecoffee" />

	<!-- adding view resolver to show jsp's on browser -->
	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/jsp/" />
		<property name="suffix" value=".jsp" />
	</bean>

	<!-- declare beans -->
	<bean id="matFileDao" class="com.bluecoffee.dao.MatFileDaoImpl" />
	<bean id="matFileService" class="com.bluecoffee.services.MatFileServiceImpl" />
	<bean id="matSubjectDao" class="com.bluecoffee.dao.MatSubjectDaoImpl" />
	<bean id="matSubjectService" class="com.bluecoffee.services.MatSubjectServiceImpl" />
	<bean id="matFolderDao" class="com.bluecoffee.dao.MatFolderDaoImpl" />
	<bean id="matFolderService" class="com.bluecoffee.services.MatFolderServiceImpl" />
	<bean id="userDao" class="com.bluecoffee.dao.UserDaoImpl" />
	<bean id="userService" class="com.bluecoffee.services.UserServiceImpl" />
	
	<bean id="fPostDao" class="com.bluecoffee.dao.FPostDaoImpl" />
	<bean id="fPostService" class="com.bluecoffee.services.FPostServiceImpl" />
	<bean id="fCommentDao" class="com.bluecoffee.dao.FCommentDaoImpl" />
	<bean id="fCommentService" class="com.bluecoffee.services.FCommentServiceImpl" />
	<bean id="fTagDao" class="com.bluecoffee.dao.FTagDaoImpl" />
	<bean id="fTagService" class="com.bluecoffee.services.FTagServiceImpl" />
	<bean id="fPostagDao" class="com.bluecoffee.dao.FPostagDaoImpl" />
	<bean id="fPostagService" class="com.bluecoffee.services.FPostagServiceImpl" />

	<bean id="chatConvoDao" class="com.bluecoffee.dao.ChatConvoDaoImpl" />
	<bean id="chatConvoService" class="com.bluecoffee.services.ChatConvoServiceImpl" />	
	<bean id="chatMessageDao" class="com.bluecoffee.dao.ChatMessageDaoImpl" />
	<bean id="chatMessageService" class="com.bluecoffee.services.ChatMessageServiceImpl" />
	
	<bean id="user" class="com.bluecoffee.domain.User" />
	
	<!-- declare datasource bean
	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/uportaldb" />
		<property name="username" value="root" />
		<property name="password" value="" />
	</bean>-->
	
	<bean id="dataSource" 
		class="org.springframework.jndi.JndiObjectFactoryBean">
    	<property name="jndiName" value="java:comp/env/jdbc/MysqlDS"/>
 	</bean>
	
</beans>
